html {
  --darkBG-D: #4d3c5d;
  --darkBG-L: #5f4677;

  --lightTxt-L: #ffffff;
  --lightTxt-D: #eee4ff;
}

body {
  background-color: black;
}

header {
  background-image: url("HK-seal.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 50%;
}

h1 {
  text-align: center;
  color: var(--lightTxt-L);
  text-shadow: rgb(0, 0, 0) 0 0 10px;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: var(--darkBG-D);
  color: var(--lightTxt-D);
  font-family: "Trajan Pro Regular", serif;
}

a {
  font-size: x-large;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  padding: 10px 20px 10px 20px;
}

a:hover {
  color: var(--lightTxt-L);
  background-color: var(--darkBG-L);
}
