html {
  --darkBG-D: #4d3c5d;
  --darkBG-L: #5f4677;

  --buttonBody: rgba(1, 2, 8, 0.336);
  --BGcolor: #0c1025;

  --lightTxt-L: #ffffff;
  --lightTxt-D: #eee4ff;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: var(--BGcolor);
}

header {
  padding: 0px;
  /*background-image: url("HK-seal.png");*/
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0px;
}

img {
  width: 50%;
  max-width: 400px;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: var(--lightTxt-L);
  text-shadow: rgb(0, 0, 0) 0 0 10px;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--darkBG-D);
  color: var(--lightTxt-D);
  font-family: "Trajan Pro Regular", serif;
}

a {
  font-size: x-large;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  padding: 10px 20px 10px 20px;
}

a:hover {
  color: var(--lightTxt-L);
  background-color: var(--darkBG-L);
}

main {
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
}

.bingo-cell {
  flex-shrink: 0;
  text-align: center;
  color: var(--lightTxt-D);
  vertical-align: middle;

  backdrop-filter: blur(5px);
  background-color: var(--buttonBody);
  background-repeat: no-repeat;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;

  font-family: Helvetica, Arial, sans-serif;
  font-weight: bolder;
  font-size: 15px;
  padding: 5px;
  height: 110px;
  width: 110px;
}

.inter-button {
  flex-shrink: 0;
  color: var(--lightTxt-D);

  background-color: var(--buttonBody);
  border: none;
  border-radius: 9px;

  height: 60px;
  width: 60px;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
  padding: 10px;
  max-width: 260px;
  overflow: hidden;
}

.option-display {
  color: var(--lightTxt-D);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: inherit;
}

.button-list {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  overflow: hidden;
  overflow-x: auto;
}

h4 {
  font-size: large;
}

h2 {
  padding: 5px;
  font-size: x-large;
}

footer {
  padding: 5px;
  background-color: var(--darkBG-D);
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  color: var(--lightTxt-D);
}

.bingo-generator {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  column-gap: 40px;

  width: 100%;
}

.seed-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-width: 400px;
  width: 40%;
  font-size: X-large;
}

input[type="text"] {
  font-size: 20px;
  font-weight: bold;
  color: var(--lightTxt-D);
  background-color: var(--BGcolor);
  border: none;

  width: 60%;
  height: 30px;
}

.padding-5px {
  padding: 5px;
}
