html {
  font-size: 62.5%;
  font-family: serif;

  --btnBG: #00000050;
  --btnBor: transparent;

  --black: #0f0f1b;
  --white: #fafbf6;

  --L_Select: #fafbf6;
  --D_Select: #fafbf620;

  --L_Lock: #565a75;
  --D_Lock: #565a7520;

  --L_Goal: #3bded8;
  --D_Goal: #3bded820;

  --L_Win: #f23158;
  --D_Win: #f2315820;

  --Bg: url("./ressources/Radiance.png");
}

.theme-basic {
  --L_Select: #fafbf6;
  --D_Select: #fafbf620;

  --L_Goal: #3bded8;
  --D_Goal: #3bded820;

  --L_Win: #f23158;
  --D_Win: #f2315820;

  --Bg: url("./ressources/Radiance.png");
}

.theme-void {
  --L_Select: #ffffff;
  --D_Select: #ffffff20;

  --L_Goal: #aca2b3;
  --D_Goal: #aca2b320;

  --L_Win: #ffffff;
  --D_Win: #ffffff20;

  --Bg: url("./ressources/VoidHeart.jpg");
}

.theme-grimm {
  --L_Select: #ca5367;
  --D_Select: #ca536720;

  --L_Goal: #5b1732;
  --D_Goal: #5b173220;

  --L_Win: #f23158;
  --D_Win: #f2315820;

  --Bg: url("./ressources/Grimm.webp");
}

.theme-greenpath {
  --L_Select: #2c8e4d;
  --D_Select: #2c8e4d20;

  --L_Goal: #193c3c;
  --D_Goal: #193c3c20;

  --L_Win: #cfe2bf;
  --D_Win: #cfe2bf20;

  --Bg: no-repeat right/ 180% url("./ressources/Greenpath.webp");
}

.theme-seer {
  --L_Select: #904aa2;
  --D_Select: #904aa220;

  --L_Goal: #8c08a7;
  --D_Goal: #8c08a720;

  --L_Win: #d33ad3;
  --D_Win: #d33ad320;

  --Bg: url("./ressources/Seer.jpg");
}

.theme-greenscreen {
  --btnBG: #00000000;
  --btnBor: #000000;

  --L_Select: #fafbf6;
  --D_Select: #61fff7;

  --L_Goal: #ffffff;
  --D_Goal: #c549ff;

  --L_Win: #ffffff;
  --D_Win: #3459ff;

  --Bg: #00ff0d;
}

body {
  font-size: 1.8rem;
  line-height: 1.618;
  max-width: 38em;
  margin: auto;
  margin-top: 1%;
  color: var(--Lgrey);
  background: var(--Bg);
}

.main_dispo {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 30px 30px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.centered {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.grille_bingo {
  background-color: transparent;
}

.mode_sel {
  row-gap: 50px;
  column-gap: 50px;
}

.seed_block {
  text-align: center;
  color: var(--white);
  vertical-align: middle;

  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-evenly;
  backdrop-filter: blur(35px);
  background-color: #00000050;
  background-repeat: no-repeat;
  border: solid 1px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.seed_element {
  color: var(--white);
  padding-left: 10px;
  position: relative;
  background-color: transparent;
}

.bouttons_lg {
  background: transparent;
}

h1 {
  font-size: 2.35em;
}

h2 {
  font-size: 2em;
}

hr {
  border-color: transparent;
}

img {
  max-width: 50vh;
}

table {
  text-align: center;
  position: relative;
  margin: auto;
}

button {
  text-align: center;
  color: var(--white);
  vertical-align: middle;

  backdrop-filter: blur(15px);
  background-color: var(--btnBG);
  background-repeat: no-repeat;
  border: solid 1.5px;
  border-radius: 1px;
  border-color: var(--btnBor);
  cursor: pointer;
  overflow: hidden;
  outline: none;

  font-family: Helvetica, Arial, sans-serif;
  font-weight: bolder;
  font-size: 15px;
  padding: 3px;
  height: 110px;
  width: 110px;
}

.select {
  background-color: var(--D_Select);
  color: var(--white);
  border-color: transparent;
}

.win {
  background-color: var(--D_Win);
  color: var(--white);
  border-color: var(--L_Win);
}

.locked {
  background-color: var(--D_Lock);
  color: var(--L_Lock);
  border-color: var(--L_Lock);
}

.goal {
  background-color: var(--D_Goal);
  color: var(--white);
  border-color: var(--L_Goal);
}

.theme_changer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}
